#sun {
  animation-name:  rotate;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#loader {
  animation-name:  loading;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes loading {
  from {
  }
  50% {
    opacity: 0.3;
    transform: scale(1.05);
  }
  to {
    opacity: 0.8;
    transform: scale(1.0);
  }
}

